<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div>
        <!-- Server Error Heading -->
        <h1 class="display-1 fw-bold text-center text-danger">500</h1>
        <p class="fs-3 text-center text-secondary">Oops! Something went wrong on our end.</p>

        <!-- Error Details (if available) -->
        @if (error) {
        <div class="mt-4">
            <p class="text-muted">Here are the details of the error:</p>
            <div class="alert alert-danger">
                <p class="mb-0"><strong>Message:</strong> {{ error.message }}</p>
                <p class="mb-0"><strong>Details:</strong> {{ error.details }}</p>
            </div>
        </div>
        }

        <!-- Button to Return to Home Page -->
        <button class="btn btn-primary btn-lg mt-4 mb-5" routerLink="/">Return to Home Page</button>
    </div>
</div>