@if(!registermode){
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Find your match</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Come on in to view your matches... all you need to do is sign up!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="registertoggle()">Register</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn more</button>
        </div>
    </div>
</div>
}


@else {
<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <p>
                Register form goes here.
            </p>
        </div>
    </div>
</div> -->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <form>
            <h1 class="h3 mb-3 fw-normal text-center">Please sign up</h1>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check text-start mb-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            <button class="btn btn-outline-danger w-100 py-2 mt-2" type="button" (click)="Cancel()">Cancel</button>
            <p class="mt-3 text-body-secondary text-center">© 2025–2026</p>
        </form>
    </div>
</div>

}